body,
p,
select,
input[type="checkbox"],
button {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #abb2bf;
}

body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  padding: 20px;
  background-color: #3e4451;
  color: #61afef;
}

.container {
  max-width: 800px;
  padding: 20px;
  background-color: #3e4451;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  margin: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #abb2bf;
}

.monitoring {
  color: #61afef;
}

#save-button {
  background-color: #98c379;
  color: #03070c;
  cursor: pointer;
}

h2 {
  margin-top: 20px;
  color: #61afef;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #3e4451;
  color: #abb2bf;
}

button {
  background-color: #3e4451;
  color: #abb2bf;
  padding: 15px;

  margin: 10px;
}

select {
  background-color: #3e4451;
  color: #abb2bf;
  width: auto;
  max-width: 100%;
}

input[type="checkbox"] {
  vertical-align: middle;
  accent-color: #61afef;
}

.checkbox-text {
  display: inline;
  color: #abb2bf;
}
